<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <link rel='stylesheet' href='styles.css' />
  </head>
  <body>


    

<!--     <div class="sidebar">
      <ul>
        <li class="sidebar-item">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </li>
      </ul>
    </div>
 -->


    
    
    <!-- <div id="app"></div>   -->
    <!-- <div id="app" style="display:inline-block; position:absolute; top:0; width:calc(100vw - 48px); height:100vh"}}></div> -->
    <div id="app" style="display:inline-block; position:absolute; top:51px; width:100vw; height:calc(100vh - 54px)"}}></div>

<!-- 
    <div id="layout" style="display:inline-block;position:absolute;top:0;width:calc(100vw - 48px);height:100vh;"></div> -->


    <script type="text/javascript" src="vendor/react/react.js"></script>
    <script type="text/javascript" src="vendor/react/react-dom.js"></script>

    <script type="text/javascript" src="vendor/jquery/jquery-3.1.1.min.js"></script>

    <script type="text/javascript" src="vendor/goldenlayout/goldenlayout.js"></script>
    <link type="text/css" rel="stylesheet" href="vendor/goldenlayout/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="vendor/goldenlayout//goldenlayout-dark-theme.css" />

    <script src="https://code.highcharts.com/stock/highstock.js"></script>


    <script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>


    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
      System.import('app.js');
    </script>
  </body>
</html>
